<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-primary svg-icon-xl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                        d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                        fill="#000000" opacity="0.3" />
                    <path
                        d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                        fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </div>
    <div class="alert-text">DataTables fully supports colspan and rowspan in the table's header, assigning the required
        order listeners to the TH element suitable for that column.
        <br />For more info see
        <a class="font-weight-bold" href="https://datatables.net/" target="_blank">the official home</a>of the plugin.
    </div>
</div>
<!--end::Notice-->

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">Colaborador
                <span class="d-block text-muted pt-2 font-size-sm">advance header options</span></h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-light-primary btn-sm mr-2" (click)="abrir();">Nuevo Registro</a>
            <a type="button" class="btn btn-light-dark btn-sm mr-2">XLXS</a>
            <a type="button" class="btn btn-light-dark btn-sm">PDF</a>

        </div>
    </div>

    <div class="card-body">
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="row align-items-center">
                        <div class="col-md-10 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="por Nombre o Apellido" id="kt_datatable_search_query" [(ngModel)]="filterPersonal">
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-xl-6 mt-5 mt-lg-0">
                    <a href="#" class="btn btn-light-primary px-6 font-weight-bold">Buscar</a>
                </div> -->
            </div>
        </div>
        <!--begin: Datatable-->
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <caption>Cant de Colaboradores</caption>
            <thead class="thead-light">
                <tr>
                    <th>Pers. ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fec.Nac</th>
                    <th>Celular</th>
                    <th>DNI</th>
                    <th>Cargo</th>
                    <th>Perfil</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pers of personal | filter:filterPersonal">
                    <td>{{pers.id}}</td>
                    <td>{{pers.Nombre}}</td>
                    <td>{{pers.Apellido}}</td>
                    <td>{{pers.Celular}}</td>
                    <td>{{pers.FecNac}}</td>
                    <td>{{pers.DNI}}</td>
                    <td>{{pers.Cargo}}</td>
                    <td>{{pers.Perfil}}</td>
                    <td><span class="label font-weight-bold label-lg label-light-success label-inline">{{pers.Status}}</span></td>
                    <td nowrap="nowrap">
                        <a href="javascript:void(0)" class="btn btn-link-primary font-weight-bold" (click)="abrir(pers);"><i class="flaticon-edit-1 text-primary"
                             ></i>editar</a>
                        <a href="javascript:void(0)" class="btn btn-link-danger font-weight-bold ml-2" (click)="change(pers);"><i class="flaticon-delete text-danger"></i>Inhabilitar</a>
                    </td>
                </tr>

            </tbody>
        </table>
        </div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
<ng-template #content6 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>

            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="fname" class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="fcargo" class="form-control form-control-sm" type="text" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="lname" class="form-control form-control-sm" type="text" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="dept" class="form-control form-control-sm" type="text" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="email2" class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Text</label>
                <div class="col-10">
                    <input id="cntry" class="form-control form-control-sm" type="text">
                </div>
            </div>
          </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">
			Salir
		</button>
		<button type="button" class="btn btn-primary">
			Enviar
		</button>
	</div>
</ng-template>


<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Inhabilitar a Usuario</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
	El Colaborador Inhabilitado no podra ingresar al Sistema
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">
			Salir
		</button>
		<button type="button" class="btn btn-danger">
			Enviar
		</button>
	</div>
</ng-template>