<!-- <app-dashboard-wrapper></app-dashboard-wrapper> -->
<!--Begin::Row-->
<div class="row">
	<div class="col-xl-3" *ngFor="let mnu of menus">
		<!--begin::Stats Widget 16-->
		<a routerLink="{{mnu.link}}" class="card card-custom card-stretch gutter-b">
			<!--begin::Body-->
			<div class="card-body">
				<span class="svg-icon svg-icon-primary svg-icon-2x">
					<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
						height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<path
								d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
								fill="#000000" fill-rule="nonzero"
								transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
							<rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
						</g>
					</svg>
					<!--end::Svg Icon--></span>
				<div class="text-inverse-white font-weight-bolder font-size-h5 mb-2 mt-5">{{mnu.mnu}}</div>
				<div class="font-weight-bold text-inverse-white font-size-sm">Lands, Houses, Ranchos, Farms</div>
			</div>
			<!--end::Body-->
		</a>
		<!--end::Stats Widget 16-->
	</div>

</div>
<!--End::Row-->