<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Bandeja de Emitidos</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6" [formGroup]="searchGroup">
          <!-- <label class="form-control-sm"> Busqueda: </label> -->
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Search"
            formControlName="searchTerm"
          />

          <small class="form-text text-muted"
            ><b>Busqueda</b> en todos los camposs</small
          >
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-sm table-head-custom table-hover table-vertical-center overflow-hidden"
      >
        <thead class="bg-dark">
          <th>ID</th>
          <th>TITULO FUT</th>
          <th>FECH.REGISTRO</th>
          <th>TIPO DOC</th>
          <th>NRO DOC</th>
          <th>ESTADO</th>
          <th>ACCION</th>
        </thead>
        <tbody>
          <tr *ngFor="let futemit of futemitService.items$ | async">
            <td>{{ futemit.id_fut }}</td>
            <td>{{ futemit.titulo_fut }}</td>
            <td>{{ futemit.fecha_reg  | date :'h:mm a , d/M/yy'}}</td>
            <td>{{ futemit.tipo_doc }}</td>
            <td>{{ futemit.num_doc }}</td>
            
            <td>{{ futemit.est1 }}</td>
            <td>
              <!-- edit -->
              <a
                title="Visualizar"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-1"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Binocular.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <!-- delete -->
              <a
                title="Derivar"
                class="btn btn-icon btn-light btn-hover-success btn-sm mx-1"
              >
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Sending.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-success"
                >
                </span>
              </a>
              <a
              title="Rechazar"
              class="btn btn-icon btn-light btn-hover-danger btn-sm mx-1"
            >
              <span
                [inlineSVG]="
                  './assets/media/svg/icons/Communication/Spam.svg'
                "
                cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger"
              >
              </span>
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
