<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Customers list</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6" [formGroup]="searchGroup">
          <!-- <label class="form-control-sm"> Busqueda: </label> -->
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Search"
            formControlName="searchTerm"
          />

          <small class="form-text text-muted"
            ><b>Busqueda</b> en todos los camposs</small
          >
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-head-custom table-hover table-vertical-center overflow-hidden"
      >
        <thead class="bg-dark">
          <th>ID</th>
          <th>FIRSTNAME</th>
          <th>LASTNAME</th>
          <th>EMAIL</th>
          <th>GENDER</th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerService.items$ | async">
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.gender }}</td>
            <td>
              <!-- edit -->
              <a
                title="Edit customer"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Binocular.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <!-- delete -->
              <a
                title="Delete customer"
                class="btn btn-icon btn-light btn-hover-success btn-sm"
              >
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Sending.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-success"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
